<header class="main-header">
    <div class="top-bar">

        <div class="logo-leiste">
            <a href=""><img src="Images/LOGO.svg" alt="Logo"></a>
        </div>

        <nav class="card-nav">
            <a class="card" href="">
                <img class="nav-icon" src="Icons/home.svg" alt="Home">
                <span>Home</span>
            </a>

            <a class="card" href="aktuelles.html">
                <img class="nav-icon" src="Icons/aktuelles.svg" alt="Aktuelles">
                <span>Aktuelles</span>
            </a>

            <a class="card" href="naechste-termine.html">
                <img class="nav-icon" src="Icons/naechste-termine.svg" alt="Nächste Termine">
                <span>Nächste Termine</span>
            </a>

            <a class="card" href="unsere-mannschaften.html">
                <img class="nav-icon" src="Icons/unsere-mannschaften.svg" alt="Unsere Mannschaften">
                <span>Unsere Mannschaften</span>
            </a>

            <a class="card" href="mitglied-werden.html">
                <img class="nav-icon" src="Icons/mitglied-werden.svg" alt="Mitglied werden">
                <span>Mitglied werden</span>
            </a>

            <a class="card" href="dwz-liste.html">
                <img class="nav-icon" src="Icons/dwz-liste.svg" alt="DWZ-Liste">
                <span>DWZ-Liste</span>
            </a>

            <a class="card" href="freunde.html">
                <img class="nav-icon" src="Icons/freunde.svg" alt="Freunde">
                <span>Freunde</span>
            </a>

            <a class="card" href="schulschach.html">
                <img class="nav-icon" src="Icons/schulschach.svg" alt="Schulschach">
                <span>Schulschach</span>
            </a>

<!--
            <div class="card dropdown" >
                <a class="card-main" href="./archiv.html">
                    <img class="nav-icon" src="Icons/archiv.svg" alt="Home">
                    <span>Archiv</span>
                </a>

                <div class="dropdown-content">
                    <a href="./aeltere-beitraege.html">Ältere Beiträge</a>
                    <a href="./chronik-2015-2021.html">Chronik 2015–2021</a>
                    <a href="./chronik-2008-2014.html">Chronik 2008–2014</a>
                </div>
            </div>
-->

<!--
            <div class="card dropdown">
                <a class="card-main" href="./verschiedenes.html">
                    <img class="nav-icon" src="Icons/verschiedenes.svg" alt="Home">
                    <span>Verschiedenes</span>
                </a>
                <div class="dropdown-content">
                    <a href="./freunde.html">Freunde</a>
                    <a href="./lustiges.html">Lustiges</a>
                    [!-- <a href="./vereinsmeisterschaften.html">Vereinsmeisterschaften</a> --]
                    [!-- <a href="./schnellschach-meisterschaften.html">Schnellschach-Meisterschaften</a> --]
                    [!-- <a href="rekorde">Rekorde</a> --]
                    <a href="./schulschach.html">Schulschach</a>
                    [!-- <a href="./sonstiges.html">Sonstiges</a> --]
-->
                </div>
            </div>
        </nav>
    </div>

    <img class="banner-main" src="Images/Banner.png" alt="Banner">
</header>
