<div id="sidebar" class="sidebar">

    <div class="post-new">
        <div class="post-date">22.03.2026</span>
            <h3 class="post-title"> Endspurt in der Verbandsliga </h3>
            <p class="post-excerpt">
                Langsam geht es in der Verbandsliga-Saison auf die Zielgerade zu!
            </p>
            <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_4">Weiterlesen</a>
        </div>
    </div>

    <div class="post-new">
        <div class="post-date">01.03.2026</span>
        <h3 class="post-title"> Hot Streak in der Verbandsliga</h3>
        <p class="post-excerpt">
            Mit dem nun vierten Sieg in Folge springen wir in der Verbandsliga Ost auf Rang 3. 
        </p>
        <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_6">Weiterlesen</a>
        </div>
    </div>

    <div class="post-new">
        <div class="post-date">08.02.2026</span>
            <h3 class="post-title"> Halbzeit in der Verbandsliga </h3>
            <p class="post-excerpt">
                Am fünften Spieltag der Verbandsliga empfingen wir die SVG Salzgitter.
            </p>
            <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_5">Weiterlesen</a>
        </div>
    </div>

</div>
