<div id="sidebar" class="sidebar">

    <div class="post-new">
        <div class="post-date">07.12.2025</span>
        <h3 class="post-title"> 2. Kerze, 2x KSV</h3>
        <p class="post-excerpt">
            Am 2. Advent kam es nun auch in der Verbandsliga zum KSV-Derby gegen den KSV Rochade Braunschweig. 
        </p>
        <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_3">Weiterlesen</a>
        </div>
    </div>

    <div class="post-new">
        <div class="post-date">16.11.2025</span>
            <h3 class="post-title"> Ein Wiedersehen in der Verbandsliga </h3>
            <p class="post-excerpt">
                Am zweiten Spieltag der Verbandsliga kam es gegen SC Bad Salzdetfurth zu einem unverhofften Wiedersehen. 
            </p>
            <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_2">Weiterlesen</a>
        </div>
    </div>

    <div class="post-new">
        <div class="post-date">28.09.2025</span>
            <h3 class="post-title"> Auftakt in der Verbandsliga </h3>
            <p class="post-excerpt">
                Die erste Auflage der Spielgemeinschaft von Plesse Bovenden und uns ("Union Plesse Göttingen") startet in die Verbandsliga Ost.
            </p>
            <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_1">Weiterlesen</a>
        </div>
    </div>

</div>
