<div id="sidebar" class="sidebar">

    <div class="post-new">
        <div class="post-date">08.02.2026</span>
            <h3 class="post-title"> Halbzeit in der Verbandsliga </h3>
            <p class="post-excerpt">
                Am fünften Spieltag der Verbandsliga empfingen wir die SVG Salzgitter.
            </p>
            <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_5">Weiterlesen</a>
        </div>
    </div>

    <div class="post-new">
        <div class="post-date">18.01.2026</span>
            <h3 class="post-title"> Hallo 2026! </h3>
            <p class="post-excerpt">
                Erster Spieltag im neuen Jahr für unsere Verbandsligamannschaft bei der SG Gifhorn-Wolfsburg 2.
            </p>
            <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_4">Weiterlesen</a>
        </div>
    </div>

    <div class="post-new">
        <div class="post-date">07.12.2025</span>
        <h3 class="post-title"> 2. Kerze, 2x KSV</h3>
        <p class="post-excerpt">
            Am 2. Advent kam es nun auch in der Verbandsliga zum KSV-Derby gegen den KSV Rochade Braunschweig. 
        </p>
        <a class="post-readmore" href="aktuelles.html#Verbandsliga_26_3">Weiterlesen</a>
        </div>
    </div>

</div>
